@model MarketPanel.Models.ViewModels.CategoryViewModel

@{
    ViewData["Title"] = "Edit";
}



<div class="container">
    <h2>Kategori </h2>
    <form asp-action="Edit" asp-controller="Category" method="post">
        <div class="mb-3 col-3">
            <label class="form-label" for="name">Ürün İsmi</label>
            <input asp-for="Name" class="form-control" id="name" />
        </div>
        <div>
            <input asp-for="Id" type="hidden" name="id" />
        </div>
        <button type="submit" class="btn btn-gradient-warning">Düzenle</button>
    </form>
</div>


