@model List<MarketPanel.Models.ViewModels.CategoryViewModel>

@{
    ViewData["Title"] = "MyCategories";
}

<h1>MyCategories</h1>

    <div class="container mt-4">
        <div class="d-flex justify-content-between align-items-center mb-3">
            <h2>My Products</h2>
            <a href="/Category/Add" class="btn btn-success">+ Kategori Ekle</a>
        </div>

        <table class="table table-bordered table-striped">
            <thead class="table-light">
                <tr>
                    <th style="width: 30%;">Kategori İsmi</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var category in Model)
                {
                    <tr>
                        <td>@category.Name</td>

                        <a href="/Category/Edit" class="btn btn-warning">Düzenle</a>
                        <a href="/Category/Delete" class="btn btn-danger">Sil</a>
                    </tr>
                }
            </tbody>
        </table>
    </div>
