@model MarketPanel.Models.ViewModels.RegisterViewModel

@{ 
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form asp-action="Register" asp-controller="Account" method="post">
        <div class="mb-3 d-block">
            <label for="name" class="form-label">Name</label>
            <input asp-for="Name" type="text" class="form-control" id="name">
        </div>
        <div class="mb-3">
            <label for="surname" class="form-label">Surname</label>
            <input asp-for="Surname" type="text" class="form-control" id="surname">
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email address</label>
            <input asp-for="Email" type="email" class="form-control" id="email" aria-describedby="emailHelp">
            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input asp-for="Password" type="password" class="form-control" id="password">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>


    </form>
</body>
</html>