@model List<MarketPanel.Models.ViewModels.ProductListViewModel>

@{
    ViewData["Title"] = "MyCategories";
}

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" />


<div class="container card">
    <div class="d-flex justify-content-between align-items-center m-3 mb-3">
        <h2>Ürünlerim</h2>
        <a href="/Product/Add" class="btn btn-gradient-primary">+ Ürün Ekle</a>
    </div>
    <table class="table align-items-center">
        <thead class="table-light">
            <tr>
                <th style="width: 30%;">Ürün İsmi</th>
                <th style="width: 20%;">Fiyat</th>
                <th style="width: 20%;">Kategori</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in Model)
            {
                <tr>
                    <td>@product.Name</td>
                    <td>@product.Price.ToString("C")</td>
                    <td>@product.CategoryName</td>
                    <td>
                        <a href="/Product/Edit/@product.Id" class="btn btn-gradient-warning">Düzenle</a>
                    </td>
                    <td>
                        <form asp-action="Delete" asp-controller="Product" method="post">
                            <input type="hidden" value="@product.Id" name="id" />
                            <button type="submit" class="btn btn-danger">Sil</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
