@model MarketPanel.Models.ViewModels.SaleDocumentViewModel
@{
    ViewData["Title"] = "Edit";
}




<div class="container d-flex justify-content-center">
    <div class="card p-4 w-100" style="max-width: 600px;">
        <h2>Satış Evrağı Düzenle</h2>
        <form asp-action="Edit" asp-controller="SaleDocument" method="post">
            <input type="hidden" asp-for="Id" />

            <div class="form-group mb-3">
                <label asp-for="Description" class="form-label">Açıklama</label>
                <textarea asp-for="Description" class="form-control" rows="1" style="overflow:auto;"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="TotalAmount" class="form-label">Toplam</label>
                <input asp-for="TotalAmount" class="form-control" />
                <span asp-validation-for="TotalAmount" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="InsertDate" class="form-label">Oluşturulma Tarihi</label>
                <input asp-for="InsertDate" class="form-control" />
                @*<span asp-validation-for="InsertDate" class="text-danger"></span>*@
            </div>

            <button type="submit" class="btn btn-gradient-primary">Kaydet</button>
            <a asp-action="MySaleDocuments" class="btn btn-gradient-dark">Vazgeç</a>
        </form>
    </div>
</div>
