@model MarketPanel.Models.ViewModels.SaleItemViewModel

@{
    ViewData["Title"] = "Edit";
}

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" />


<h2>Satış Düzenle</h2>


<div class="container my-auto">
    <form asp-action="Edit" asp-controller="SaleItem">
        <input type="hidden" asp-for="Id" />

        <div class="form-group mb-3">
            <label asp-for="ProductId" class="form-label">Category</label>
            <select asp-for="ProductId" asp-items="Model.Products" class="form-select">
                <option value="">-- Select a product --</option>
            </select>
            <span asp-validation-for="ProductId" class="text-danger"></span>
        </div>

        <div class="form-group mb-3">
            <label asp-for="Quantity" class="form-label">Ürün Adedi</label>
            <input asp-for="Quantity" class="form-control" />
            <span asp-validation-for="Quantity" class="text-danger"></span>
        </div>

        <div class="form-group mb-3">
            <label asp-for="UnitPrice" class="form-label">Ürünün Birim Fiyatı</label>
            <input asp-for="UnitPrice" class="form-control" />
            <span asp-validation-for="UnitPrice" class="text-danger"></span>
        </div>

        <div class="form-group mb-3">
            <label asp-for="VATRate" class="form-label">Kdv Oranı</label>
            <input asp-for="VATRate" class="form-control" />
            <span asp-validation-for="VATRate" class="text-danger"></span>
        </div>

        <div class="form-group mb-3">
            <label asp-for="Discount" class="form-label">Ürünün indirimi</label>
            <input asp-for="Discount" class="form-control" />
            <span asp-validation-for="Discount" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-primary">Save</button>
        <a asp-action="MySaleItems" class="btn btn-secondary">Cancel</a>
    </form>
</div>


